body{
    background-color: #87CEFA;
}

.container{

    width: 80%;
    margin: auto;

}

h1{
    text-align: center;
}

.img_corpo{
    width: 60%;
}

figure{
    text-align: center;
}

.img_topo{
    width: 80%%;
}

p{
    font-size: 1.5em;
    color:#00008B;
    font-weight: bold;
}

