html{
    scroll-behavior: smooth;
}

body{
    background-color: #c1e6ec;
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.container{
    width: 80%;
    margin: auto;

}

.itens_menu li{
    font-size: 1.3;
    line-height: 1.5;
}

h1{ 
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #1e2564;
    font-family: American Typewriter, serif;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: #1e2564;
    font-family: American Typewriter, serif,
}

.img_corpo{
    width: 60%;
}

figure{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.img_topo{
    width: 100%;
}

p{
    font-size: 1.5em;
    color:#000000;
    text-indent: 40px;
    text-align: justify;
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px; */
    font-family: American Typewriter, serif
    line-height: 1.5;
}

a{
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    text-align: justify;
}

footer{
    background-color: #1e2564;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.itens_menu{
    text-align: center;
}






